/* frontend/app/globals.css */
@import "tailwindcss";
@import "tw-animate-css";

/* шрифт */
@font-face {
  font-family: "Atelas";
  src: url("/fonts/atelas-2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "Atelas", system-ui, sans-serif;
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
}

/* базовые стили без @apply */
html {
  font-family: var(--font-sans);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;
